USE [master]
GO
/****** Object:  Database [NerderyDB]    Script Date: 10/19/2015 10:43:09 PM ******/
CREATE DATABASE [NerderyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NerderyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NerderyDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NerderyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NerderyDB.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NerderyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NerderyDB]
GO
/****** Object:  User [IIS APPPOOL\Nerdery]    Script Date: 10/19/2015 10:43:09 PM ******/
CREATE USER [IIS APPPOOL\Nerdery] FOR LOGIN [IIS APPPOOL\Nerdery] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\Nerdery]
GO
/****** Object:  Table [dbo].[Suggestions]    Script Date: 10/19/2015 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suggestions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SnackName] [nvarchar](50) NOT NULL,
	[SuggestedOn] [datetime2](7) NOT NULL,
	[SuggestionLocation] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Votes]    Script Date: 10/19/2015 10:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SnackID] [int] NOT NULL,
	[VotedOn] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Suggestions] ON 

INSERT [dbo].[Suggestions] ([ID], [SnackName], [SuggestedOn], [SuggestionLocation]) VALUES (1, N'Oreos', CAST(0x07B04A05346C913A0B AS DateTime2), N'Jewel Osco')
INSERT [dbo].[Suggestions] ([ID], [SnackName], [SuggestedOn], [SuggestionLocation]) VALUES (2, N'Cold Cuts', CAST(0x077C3010EE16913A0B AS DateTime2), N'Deli')
SET IDENTITY_INSERT [dbo].[Suggestions] OFF
SET IDENTITY_INSERT [dbo].[Votes] ON 

INSERT [dbo].[Votes] ([ID], [SnackID], [VotedOn]) VALUES (1, 1734, CAST(0x0775D0F7AEBC913A0B AS DateTime2))
SET IDENTITY_INSERT [dbo].[Votes] OFF
USE [master]
GO
