@model SnaFoo.Models.ShoppingListViewModel
@{
    ViewBag.Title = "ShoppingList";
}

<div class="shelf shelf_5">
    <h2 class="hdg hdg_1">ShoppingList</h2>
</div>
    <div class="shelf shelf_1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Snack Name</th>
                    <th scope="col">Purchase Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OnlineSnacksShoppingList)
                {
                    <tr>
                        <td>@item.name</td>
                        <td>@item.purchaselocations</td>
                    </tr>
                }
                @*<tr>
                    <td>Donuts</td>
                    <td>Pies &amp; Cakes Bakery</td>
                </tr>
                <tr>
                    <td>Spam</td>
                    <td>Cub</td>
                </tr>
                <tr>
                    <td>Pistachios</td>
                    <td>Cub</td>
                </tr>
                <tr>
                    <td>Buckets of M&amp;M's</td>
                    <td>Cub</td>
                </tr>*@
            </tbody>
        </table>
    </div>
